node_modules/
.DS_Store
.env
.vercel/
.vercel
.env*
/java/
/android/.gradle/
/android/app/build/
/android/local.properties
/android/.idea/
*.log
*.zip
*.ps1
*.json
*.js
!app.js
!android/app/src/main/assets/app.js
